*{
    font-family: 'Press Start 2P', cursive;
}

body{
    background-color: black;
    
}

div.container{
    display: inline-block;
    position: relative;
}

div.battle{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity:0;
    pointer-events: none;

}

div.attack{
    height: 70%;
    display: grid;
}

div.battle-bar{
    background-color: white;
    width: 200px;
    height: 100%;
    position: absolute;
    bottom: 0;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}


div.types{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;
    
}

button{
    border: 0;
    font-size: 13px;
    background-color: rgb(246, 195, 249);
}

button:hover{
    background-color: rgb(213, 100, 217);
    cursor: pointer;
}

h1{
    font-size: 16px;
}

div.top-box{
    width: 250px;
    padding: 6px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    position: absolute;
    top:150px;
    left: 550px;
}

h2{
    font-size: 16px;
}

div.enemyLive{
    height: 5px;
    position: relative;
    margin-top: 3px ;
}

div.enemyFull{
    height: 7px;
    background: #ccc;
    margin-top: 3px ;
}

div.enemyLoss{
    height: 7px;
    background: green;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    
}

div#enemyLoss{
    height: 7px;
    background: green;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    
}


div.bottom-box{
    width: 250px;
    padding: 6px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    position: absolute;
    top:350px;
    left: 350px;
}

h2{
    font-size: 16px;
}

div.caroLive{
    
    position: relative;
    
}

div.caroFull{
    height: 7px;
    background: #ccc;
    margin-top: 3px ;
}

div.caroLoss{
    height: 7px;
    background: green;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
}

div#caroLoss{
    height: 7px;
    background: green;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
}


div.dialoguebar{
    border: 2px solid red;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: white;
    padding: 12px;
    display: none;
    

}

#dialogueBox{
    cursor: pointer;
}

